:root {
  --accent-color: #2196F3;
  --contrast-color: #2F303A;
  --main-text-color: #212121;
  --cover-text-color: #757575;
  --accent-text-color: #FFFFFF;
  --svg-color: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

#page.no-scroll {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: "Roboto", inherit;
}

address {
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.secret-heading {
  display: none;
}

.secret-padding {
  padding-bottom: 0px;
}

.solutions__text {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--accent-text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.qualities__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.qualities__text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--cover-text-color);
  padding-top: 10px;
}

.basic-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.connect-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.link-deal {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.contact-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  font-size: 14px;
  line-height: 1.7;
  color: var(--cover-text-color);
  letter-spacing: 0.03em;
  font-weight: 500;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.command {
  background-color: #F5F4FA;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.web-logo {
  color: var(--accent-color);
}

.button {
  width: 128px;
  height: 38px;
  background: #F5F4FA;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.btn-portfolio {
  border: 0;
  border-radius: 4px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 530px;
  height: 580px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #FFFFFF;
}

.modal__header {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 46px;
  margin-bottom: 10px;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 448px;
  margin: 0 auto;
  /*outline: 1px solid #188ce8;*/
}

.modal__icon-close {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.form-contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-contacts__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 448px;
}

.form-contacts__input:focus:invalid ~ .massage-warning {
  opacity: 1;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-contacts__input:focus:invalid ~ .icon-alert .icon-warning {
  opacity: 1;
}

.form-contacts__input:focus:valid ~ .icon-alert .icon-check {
  opacity: 1;
}

.form-contacts__input {
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  border-color: transparent;
  height: 40px;
  background-color: transparent;
  padding-left: 32px;
  padding-right: 25px;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-contacts__input:focus {
  outline: 1px solid var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-contacts__input:focus + .form-contacts__label-icon {
  fill: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-contacts__label-icon {
  position: absolute;
  top: 35px;
  left: 12px;
}

.form-contacts__agreement {
  display: block;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-contacts__lable {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-contacts__textarea {
  display: block;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgb(136, 132, 132);
}

.form-contacts__textarea:focus {
  outline: 1px solid var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.massage-warning {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  position: absolute;
  top: 37px;
  right: 30px;
  opacity: 0;
}

.icon-alert {
  position: absolute;
  top: 35px;
  right: 5px;
}

.icon-warning {
  fill: rgba(255, 0, 0, 0.478);
  opacity: 0;
}

.icon-check {
  fill: lightgreen;
  opacity: 0;
}

.custom-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
}

.custom-icon {
  fill: #FFFFFF;
}

.checkbox:checked + .custom-checkbox {
  border: 1px solid #2196F3;
  background-color: #2196F3;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__box {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 294px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(110%);
          transform: translatey(110%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-prtf {
  border-bottom: 1px solid #EEEEEE;
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__menu-item {
  position: relative;
}
.list-punkt .header__menu-item:not(:last-child) {
  margin-right: 50px;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  margin-right: 93px;
}

.header__menu-link {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__menu-link:hover, .header__menu-link:focus {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

.header__menu-link--current {
  color: var(--accent-color);
  font-weight: 500;
}
.header__menu-link--current::after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  bottom: -33px;
  left: 0px;
}

.header__contact-block {
  margin-left: auto;
}

.header__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact-item:not(:last-child) {
  margin-right: 50px;
}

.header__connect:hover,
.header__connect:focus {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

.header__connect-icon {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: currentColor;
}
.header__connect:hover .header__connect-icon, .header__connect:focus .header__connect-icon {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-color);
}

.solutions {
  /*background-color: var(--contrast-color);*/
  background-color: rgba(47, 48, 58, 0.4);
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.6))), url(../images/bg1.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.6)), url(../images/bg1.jpg);
  background-size: cover;
}

.solutions__container {
  padding: 192px 250px 198px;
}

.solutions__button {
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: block;
  margin: 30px auto;
}
.solutions__button:hover, .solutions__button:focus {
  background-color: #188ce8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-text-color);
}

.solutions__backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.solutions__backdrop.is-hidden {
  opacity: 0%;
  visibility: hidden;
  pointer-events: none;
}

.qualities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.qualities__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 120px;
  background-color: #F5F4FA;
  min-width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.photos-gal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  gap: 30px;
}

.photos-gal__item {
  position: relative;
}
.photos-gal__item::after {
  content: attr(data-text);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  color: var(--accent-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.workers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  gap: 30px;
}

.workers__block {
  width: calc((100% - 90px) / 4);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.workers__block:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.workers__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding-top: 30px;
  text-align: center;
}

.workers__post {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--cover-text-color);
  padding-top: 10px;
  text-align: center;
}

.workers__medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  gap: 10px;
  margin-bottom: 30px;
}

.workers__medias-item {
  width: 44px;
  height: 44px;
}

.workers__medias-icon {
  fill: var(--svg-color);
}

.workers__medias-link:hover,
.workers__medias-link:focus {
  background-color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.workers__medias-link:hover .workers__medias-icon,
.workers__medias-link:focus .workers__medias-icon {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-text-color);
}

.workers__medias-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
}

.client-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.client-list__icon {
  fill: currentColor;
  display: inline-block;
}

.client-list__box {
  color: currentColor;
}

.client-list__item {
  color: #AFB1B8;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-list__item:hover,
.client-list__item:focus {
  border: 1px solid #2196F3;
  color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--contrast-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.footer__address-street {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.footer__address-street:hover,
.footer__address-street:focus {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

.footer__email {
  padding-top: 9px;
  padding-bottom: 9px;
}

.footer__address {
  padding-top: 20px;
  padding-bottom: 9px;
}

.footer__medias {
  max-width: 206px;
  margin-left: 70px;
}

.footer__medias-list {
  display: block;
  max-width: 206px;
  padding-top: 12px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer__medias-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #43444D;
}

.footer__medias-item {
  width: 44px;
  height: 44px;
}

.footer__medias-icon {
  fill: var(--accent-text-color);
}

.footer__medias-link:hover,
.footer__medias-link:focus {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}

.footer__medias-link:hover .footer__medias-icon,
.footer__medias-link:focus .footer__medias-icon {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-text-color);
}

.footer__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 570px;
  gap: 10px;
  margin-left: 93px;
  margin-bottom: 53px;
}

.footer__form {
  display: block;
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer__btn:hover,
.footer__btn:focus {
  background-color: #188ce8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-text-color);
}

.footer__input {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  padding: 15px;
  background-color: transparent;
  border-color: transparent;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer__input:focus {
  outline: 1px solid var(--accent-color);
  color: var(--accent-text-color);
}

.footer__social-icon {
  fill: #EEEEEE;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.btn-list__item {
  margin: 8px;
}

.portfolio-gal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio-gal__block {
  width: calc((100% - 60px) / 3);
  height: 404px;
  background: #FFFFFF;
  outline: 1px solid #EEEEEE;
  position: relative;
  overflow: hidden;
}
.portfolio-gal__block:hover {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-gal__block:hover .overlay__box {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.portfolio-gal__link {
  color: var(--main-text-color);
}
.portfolio-gal__link:hover, .portfolio-gal__link:focus {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--cover-text-color);
}

.portfolio-gal__img {
  height: auto;
  max-width: 100%;
}

.portfolio-gal__block-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 4px;
}

.portfolio-gal__block-dscr {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--cover-text-color);
  padding-left: 24px;
  padding-bottom: 20px;
}/*# sourceMappingURL=main.css.map */