
:root {
    --accent-color: #2196F3;
    --contrast-color: #2F303A;
    --main-text-color:#212121;
    --cover-text-color: #757575;
    --accent-text-color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none ;
}

button {
    cursor: pointer;
    font-family: 'Roboto', inherit;
}

address {
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    padding-top: 25px;
    padding-bottom: 25px;
}

.header > .container {
    display: flex;
    align-items: center;
}

.web-logo {
    color: var(--accent-color);
}

.list-punkt .current {
    color: var(--accent-color);
}

.menu {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.nav-menu {
    display: flex;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
    margin-right: 93px;
}

.header-navigation {
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-navigation:hover,
.header-navigation:focus {
    color: var(--accent-color);
}

.link {  
    text-decoration: none;
}

.contact-block {
    margin-left: auto;
}

.contact-link {
    font-size: 14px;
    line-height: 1.7;
    color: var(--cover-text-color);
    letter-spacing: 0.03em;
    font-weight: 500;
}

.contact-item:not(:last-child) {
    margin-right: 50px;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.contact-info {
    display: flex;
}

.solutions {
    background-color: var(--contrast-color);
    
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.solutions-container{
    padding: 192px 252px 198px;
}

.solutions-text {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--accent-text-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-order {
    min-width: 200px;
    height: 50px; 
    background-color: var(--accent-color); 
    color: var(--accent-text-color); 
    border-radius: 4px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: block;
    margin: 30px auto;
}

.button-order:hover ,
.button-order:focus {
    background-color:#188ce8;
    color: var(--accent-text-color);
}

.button {
    width: 128px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
 }

 .button:hover,
 .button:focus {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
 }

 .secret-heading {
    display: none;
 }

.qualities {
    display: flex;
    gap: 30px;
}

 .description-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
 }

  .container>.photos-gal {
    display: flex;
  }

.photos-gal {
    padding-top: 50px;
    gap: 30px;
}

 .description-text {
    font-size: 14px;
    line-height: 1.7;
    color: var(--cover-text-color);
    padding-top: 10px;
 }
 

 .basic-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
 }

 .photos-gal1{
    padding-top: 50px;
    gap: 30px;
 }

 .container > .photos-gal1 {
    display: flex;
 }




 .command-block {
    background-color: #F5F4FA;
 }

 .worker-block {
    width: calc((100% - 90px) / 4);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
 }
 
.worker-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    padding-top: 30px;
    text-align: center;
}
.post-name {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--cover-text-color);
    padding-top: 10px;
    text-align: center;
    padding-bottom: 30px;
}

 .secret-padding {
     padding-bottom: 0px;
 }

.footer {
    background-color: var(--contrast-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-text-color); 
}

.address-street {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.address {
    padding-top: 20px;
    padding-bottom: 9px;
}

.address-street:hover,
.address-street:focus {
    color: var(--accent-color);
}

.email {
    padding-top: 9px;
    padding-bottom: 9px;
}

.project-name-link {
    color: var(--main-text-color);
}
.project-name-link:hover,
.project-name-link:focus {
    color: var(--cover-text-color);
}
.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-description {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--cover-text-color);
}

.portfolio-gal {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.gallery-block {
    width: calc((100% - 60px) / 3);
}

.btn-portfolio {
    border: 0;
    border-radius: 4px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 500;
}

.btn-list {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.btn-item {
    margin: 8px;    
}

.gallery-block {
    width: calc((100% - 60px) / 3);
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.project-name {
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
}

.project-description {
    padding-left: 24px;
    padding-bottom: 20px;
}