.btn-list {
    display: flex;
    padding-bottom: 50px;

    //breakpoint mobile
        @media screen and (min-width: 480px) {
            flex-wrap: wrap;
            justify-content: left;
        }
    //breakpoint tablet
         @media screen and (min-width: 768px) {
            justify-content: center;
         }
    
    
    //breakpoint desktop
         @media screen and (min-width: 1200px) {
            justify-content: center;
         }
}

.btn-list__item {
    margin: 8px;
}