 .workers {
    gap: 30px;
    justify-content: center;

    //breakpoint mobile
        @media screen and (min-width: 480px) {
            display: flex;
            flex-wrap: wrap;
            padding-top: 30px;
        }
    
        //breakpoint tablet
        @media screen and (min-width: 768px) {
            display: flex;
                flex-wrap: wrap;
            padding-top: 30px;
        }
    
    
        //breakpoint desktop
        @media screen and (min-width: 1200px) {
            display: flex;
            padding-top: 50px;
        }
 }

 .workers__block {
     background: #FFFFFF;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 0px 0px 4px 4px;

    //breakpoint mobile
        @media screen and (min-width: 480px) {
            width: 450px;
        }
    
        //breakpoint tablet
        @media screen and (min-width: 768px) {
            width: 354px;
        }
    
    
        //breakpoint desktop
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
 }

 .workers__block:hover {
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }

 .workers__photo {
    width: 100%;
 }

 .workers__name {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.2;
     letter-spacing: 0.03em;
     color: var(--main-text-color);
     padding-top: 30px;
     text-align: center;
 }

 .workers__post {
     font-size: 16px;
     line-height: 1.2;
     letter-spacing: 0.03em;
     color: var(--cover-text-color);
     padding-top: 10px;
     text-align: center;
 }

.workers__medias {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    gap: 10px;

    //breakpoint mobile
        @media screen and (min-width: 480px) {
            padding-bottom: 24px;
        }
    
        //breakpoint tablet
        @media screen and (min-width: 768px) {
            padding-bottom: 24px;
        }
    
    
        //breakpoint desktop
        @media screen and (min-width: 1200px) {
            padding-bottom: 30px;
        }
}

.workers__medias-item {
    width: 44px;
    height: 44px;
}

 .workers__medias-icon {
     fill: var(--svg-color);
 }

 .workers__medias-link:hover,
 .workers__medias-link:focus {
     background-color: var(--accent-color);
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 }

 .workers__medias-link:hover .workers__medias-icon,
 .workers__medias-link:focus .workers__medias-icon {
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     fill: var(--accent-text-color);
 }

 .workers__medias-link {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background-color: #fff;
 }